*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: Arial, sans-serif;
  line-height:1.6;
}

.container{
  width:90%;
  max-width:1100px;
  margin:auto;
}

header{
  background:#f1b751;
  padding:20px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  position:relative;
}

#logo{
  max-width:150px;
}

#frase{
  max-width:300px;
}

p{
  margin-left: 5%;
}

h2{
  margin-left: 5%;
  color: blue;
}

.lista-beneficios{
  color: #4f9409;
}

.menu-toggle{
  font-size:30px;
  cursor:pointer;
  z-index:1001;
}

/* MENU */
nav{
  display:none; /* esconde inicialmente */
  position:absolute;
  top:70px;
  right:20px;
  background:white;
  padding:20px;
  border-radius:8px;
  box-shadow:0 5px 15px rgba(0,0,0,0.2);
  z-index:1000;
}

nav.active{
  display:block; /* mostra quando clicado */
}

nav ul{
  list-style:none;
  display:flex;
  flex-direction:column;
  gap:15px;
  margin:0;
  padding:0;
}

nav a{
  text-decoration:none;
  color:black;
  font-weight:bold;
  font-size:18px;
}

/* SOBRE */
.lado-a-lado{
  display:flex;
  align-items:center;
  justify-content:space-between;
  gap:40px;
  margin:40px 0;
}

#veve{
  max-width:400px;
  border-radius:12px;
}

/* BOTÃO */
.box-central{
  text-align:center;
  margin:40px 0;
}

.btn-cta{
  padding:15px 35px;
  background:#d60505;
  color:white;
  border:none;
  border-radius:8px;
  cursor:pointer;
  transition:0.3s;
}

.btn-cta:hover{
  background:#2ad60b;
}

/* BENEFÍCIOS */
.beneficios{
  background:#f5fffe;
  padding:60px 0;
  text-align:center;
}

.lista-beneficios{
  list-style:none;
  display:flex;
  justify-content:center;
  gap:40px;
  flex-wrap:wrap;
}

/* FORMULÁRIO */
.form-section{
  padding:60px 0;
  text-align:center;
}

form{
  max-width:500px;
  margin:auto;
}

.campo{
  margin-bottom:20px;
  display:flex;
  flex-direction:column;
  text-align:left;
}

input, textarea{
  padding:12px;
  border-radius:6px;
  border:1px solid #ccc;
}

button[type="submit"]{
  padding:15px;
  background:#0394ee;
  color:white;
  border:none;
  border-radius:8px;
  cursor:pointer;
}

button[type="submit"]:hover{
  background:#ed5a05;
}

.erro{
  color:red;
  font-size:14px;
}

#mensagem-sucesso{
  color:green;
  font-size:18px;
  margin-top:15px;
}

/* CARROSSEL */
.carousel{
  position:relative;
  width:100%;
  height:400px;
  overflow:hidden;
  margin-top:40px;
}

.slides{
  display:flex;
  transition:transform 0.6s ease-in-out;
}

.slide{
  min-width:100%;
  position:relative;
}

.slide img{
  width:100%;
  height:400px;
  object-fit:cover;
}

.caption{
  position:absolute;
  bottom:20%;
  left:10%;
  background:rgba(0,0,0,0.6);
  color:white;
  padding:10px 20px;
  border-radius:5px;
  font-size:20px;
}

.buttons{
  position:absolute;
  top:50%;
  width:100%;
  display:flex;
  justify-content:space-between;
  transform:translateY(-50%);
}

.buttons button{
  background:rgba(0,0,0,0.5);
  border:none;
  color:white;
  font-size:28px;
  padding:10px 20px;
  cursor:pointer;
}

#log{
    height: 300px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

#cuidando{
    height: 300px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

#amo{
    height: 300px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

#imagem4{
    height: 300px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

/* FOOTER */
footer{
  background:#ed5a05;
  color:white;
  text-align:center;
  padding:20px;
  margin-top:40px;
}

/* RESPONSIVO */
@media(max-width:768px){
  .lado-a-lado{
    flex-direction:column;
    text-align:center;
  }

  .lista-beneficios{
    flex-direction:column;
    gap:20px;
  }

  .carousel{
    height:250px;
  }

  .slide img{
    height:250px;
  }

  .whatsapp-btn {
  position: fixed;
  bottom: 20%;
  right: 20%;
  background: #25D366;
  padding: 12%;
  border-radius: 50%;
  box-shadow: 0 0 15% rgba(0,0,0,0.2);
  z-index: 1000;
  transition: 0.3s;
}
}

.whatsapp-btn img {
  width: 3%;
  height: auto;
}

.whatsapp-btn:hover {
  transform: scale(1.1);
}
